<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        #first{
            width:100%;
            height: 100vh;
            background-color: cornflowerblue;
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

        }
        img{
            width:50vh;
            height:50vh !important;
            display:flex;
        }
    </style>
</head>
<body>
    <div id="first">

                <img src="static/logostart2.svg">
                
                
               
             <div id="btns"> 
			 <!-- <a href="/respons.html" ><button class="btn btn-light" >Open main panel</button></a> -->
			 <form id="openform"  action="" method="POST">
                <input  class="btn btn-light" type="submit" id="open" name="open" value="Open main panel">
             </form>
			 
			 </div> 
            </div>
        

</body>
</html>